<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Song</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat:wght@400..700&family=Croissant+One&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&family=VT323&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <img
        src="{{ url_for('static', filename='image/logo.png') }}"
        alt="Face Tune"
        class="sidebar-logo"
      />
      <h2 class="py-1 px-3">Admin Panel</h2>
      <a href="{{ url_for('admin_dashboard') }}"
        ><i class="bi bi-house-door-fill"></i>&nbsp;&nbsp;&nbsp;Dashboard</a
      >
      <a href="{{ url_for('view_users') }}"
        ><i class="bi bi-people-fill"></i>&nbsp;&nbsp;&nbsp;View Users</a
      >
      <a href="{{ url_for('view_songs') }}"
        ><i class="bi bi-file-music-fill"></i>&nbsp;&nbsp;&nbsp;View Songs</a
      >
      <a href="{{ url_for('add_songs') }}"
        ><i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;&nbsp;Add Songs</a
      >
      <a href="../logout"
        >Logout&nbsp;&nbsp;&nbsp;<i class="bi bi-box-arrow-left"></i
      ></a>
    </div>

    <div class="container mt-5">
      <h1 class="subtitle mb-5">Edit Song</h1>
      <div class="row justify-content-center">
        <div
          class="card shadow d-flex justify-content-center align-items-center flex-column mt-5"
          style="min-height: 40vh"
        >
          <div class="card-body">
            <form
              method="POST"
              action="{{ url_for('edit_song', song_id=song['id']) }}"
            >
              <div class="form-group d-flex align-items-center">
                <label for="title" class="form-label">Song Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  value="{{ song['title'] }}"
                  required
                  style="color: #000"
                />
              </div>
              <div class="form-group d-flex align-items-center">
                <label for="emotion" class="form-label">Emotion</label>
                <select
                class="form-control"
                id="emotion"
                name="emotion"
                required
                style="color: #000"
              >
                <option value="" disabled>Select emotion</option>
                <option value="happy" {% if song['emotion'] == 'happy' %}selected{% endif %}>Happy</option>
                <option value="sad" {% if song['emotion'] == 'sad' %}selected{% endif %}>Sad</option>
                <option value="angry" {% if song['emotion'] == 'angry' %}selected{% endif %}>Angry</option>
                <option value="disgust" {% if song['emotion'] == 'disgust' %}selected{% endif %}>Disgust</option>
                <option value="fear" {% if song['emotion'] == 'fear' %}selected{% endif %}>Fear</option>
                <option value="neutral" {% if song['emotion'] == 'neutral' %}selected{% endif %}>Neutral</option>
                <option value="surprise" {% if song['emotion'] == 'surprise' %}selected{% endif %}>Surprise</option>
              </select>
              </div>
              <div class="form-group d-flex align-items-center">
                <label for="path" class="form-label">Path</label>
                <input
                  type="text"
                  class="form-control"
                  id="path"
                  name="path"
                  value="{{ song['path'] }}"
                  required
                  style="color: #000"
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Save Changes <i class="bi bi-floppy"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
