<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceTune - Home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />

    <!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat:wght@400..700&family=Croissant+One&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&family=VT323&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg main-nav px-0">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='image/logo.png') }}"
              alt="Face Tune"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mainMenu"
            aria-controls="mainMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar icon-bar-1"></span>
            <span class="icon-bar icon-bar-2"></span>
            <span class="icon-bar icon-bar-3"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav mx-auto d-flex justify-content-center w-100">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about" class="active">About</a>
              </li>
              <li>
                <a href="/recommend">Recommend</a>
              </li>
            </ul>
            <!-- Login on the right -->
            <ul class="navbar-nav ml-auto">
              {% if session.get('username') %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bi bi-person"></i>&nbsp;<i
                    >{{ session['username'] }}</i
                  >
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="userDropdown"
                  style="transform: translate(0, 10px)"
                >
                  <a
                    class="dropdown-item"
                    href="/logout"
                    style="text-align: center"
                    >Logout&nbsp;&nbsp;<i class="bi bi-box-arrow-left"></i
                  ></a>
                </div>
              </li>
              {% else %}
              <li>
                <a href="/login" class="d-flex align-items-center">
                  Login&nbsp;&nbsp;<i class="bi bi-box-arrow-in-right ml-4"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      <!-- /.container -->
    </header>

    <section id="about" class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-left subtitle">About Us</h2>
          <div class="mt-4" style="padding: 15px; font-size: 20px; ">
            <p>
              At FaceTune, we believe that music is a universal language capable
              of expressing a myriad of emotions. Our innovative music
              recommendation system harnesses the power of facial expression
              analysis to curate personalized playlists that perfectly match
              your current mood.
            </p>
            <p>With FaceTune, every emotion has its own soundtrack. Whether you're feeling joyful, relaxed, or sad, our system detects your mood and recommends the perfect tracks to elevate your experience. Let your face be the key to unlocking the music that speaks to your soul!</p>

            <p>
              Join us on this exciting musical journey and discover how your
              emotions can shape your unique music experience with FaceTune!
            </p>
          </div>
</a>
        </div>
        <div class="col-md-6">
          <img
            src="{{ url_for('static', filename='image/about-girl.png') }}"
            class="img-fluid mb-3 pt-5"
            style="filter: grayscale(50%); height: 550px; border-radius: 20%; "
            alt="Music Experience"
          />
        </div>
      </div>
    </section>

    <section id="recommend-steps" class=" container">
      <h1 class="subtitle">Steps to get Music Recommendations <br> Based on Your Emotion</h1>
      <ol class="alternating-colors">
        <li>
          <strong>Make sure you are logged in<br><p>Click here to <a href="/login">Login</a>.</p></strong>
          
        </li>
        
        <li>
          <strong>Navigate to Recommend Page <br> <p>Click here to go to <a href="/recommend">Recommend</a>.</p></strong>
          
        </li>
        
        <li>
          <strong>Open Camera <br> <p>Make sure you allow your browser to access the camera.</p></strong>
          
        </li>
        
        <li>
          <strong>Detect Emotion and get Music Recommendations <br> <p>Make sure you have proper lighting and adjust your position accordingly.</p> </strong>
          
        </li>
        
      </ol>
    </section>
    

    <footer class="bg-dark text-white text-center py-3">
      <p style="padding-bottom: 70px">
        &copy; 2024 Face Tune. All rights reserved.
      </p>
    </footer>

  </body>
</html>
