<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceTune - Home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@300..900&family=VT323&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg main-nav px-0">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='image/logo.png') }}"
              alt="Face Tune"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mainMenu"
            aria-controls="mainMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar icon-bar-1"></span>
            <span class="icon-bar icon-bar-2"></span>
            <span class="icon-bar icon-bar-3"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
            <ul
              class="navbar-nav ml-auto f1 d-flex justify-content-center w-100"
            >
              <li>
                <a href="/" class="active active-first">Home</a>
              </li>
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="/recommend">Recommend</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- /.container -->
    </header>

    <!-- Hero Start -->
    <section class="hero container">
      <div class="hero_content">
        <!-- <h1>Music that </br>Matches Your </br> Mood</h1> -->
        <h1>Experience Music Tailored to Your Emotions!</h1>
        <div class="explore">
          <p>
            <a href="/recommend"><button>Try it now</button></a>
            <i>Music that matches your <strong>mood.</strong></i>
          </p>
        </div>
      </div>
    </section>

    <section id="about" class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-left mb-4">About Us</h2>
          <p>
            At FaceTune, we believe that music is a universal language capable
            of expressing a myriad of emotions. Our innovative music
            recommendation system harnesses the power of facial expression
            analysis to curate personalized playlists that perfectly match your
            current mood.
          </p>
          <p>
            By utilizing advanced computer vision techniques, we interpret your
            facial expressions in real-time. Whether you’re feeling joyful,
            contemplative, relaxed, or energetic, FaceTune suggests tracks that
            resonate with your emotional state, enhancing your overall listening
            experience.
          </p>
          <p>
            Join us on this exciting musical journey and discover how your
            emotions can shape your unique music experience with FaceTune!
          </p>
        </div>
        <div class="col-md-6">
          <img
            src="{{ url_for('static', filename='image/about.gif') }}"
            class="img-fluid rounded mb-3"
            alt="Music Experience"
          />
        </div>
      </div>
    </section>

    <div class="container">
      <div class="header-title">All Songs</div>

      <div class="row" id="song-list">
        <!-- Songs will be dynamically added here -->
      </div>

      <div class="text-center pb-5">
        <button
          id="show-more-btn"
          class="btn btn-primary"
          onclick="showMoreSongs()"
        >
          Show More
        </button>
        <button
          id="show-less-btn"
          class="btn btn-secondary"
          onclick="showLessSongs()"
          style="display: none"
        >
          Show Less
        </button>
        <a href="/recommend" class="btn btn-primary btn-recommend"
          >Get Recommendation</a
        >
      </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
      <p style="padding-bottom: 70px">
        &copy; 2024 Face Tune. All rights reserved.
      </p>
    </footer>

    <!-- Hidden Fixed Audio Player at the Bottom -->
    <div class="audio-player" id="audio-player">
      <span class="now-playing" id="now-playing-title">Now Playing: </span>
      <audio id="fixed-audio-player" controls>
        <source src="" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        fetch("/get-songs")
          .then((response) => response.json())
          .then((songs) => {
            const songList = document.getElementById("song-list");
            if (songs.length === 0) {
              songList.innerHTML =
                "<p class='text-center'>No songs available in the database.</p>";
            } else {
              songs.forEach((song) => {
                const songCard = document.createElement("div");
                songCard.className = "col-md-4 song-card";
                songCard.innerHTML = `
                              <div class="card">
                                  <div class="card-body">
                                      <h5 class="song-title">${song.title}</h5>
                                      <button class="btn btn-secondary play-button" onclick="playSong('${song.path}', '${song.title}')">Play</button>
                                  </div>
                              </div>
                          `;
                songCard.style.display = "none"; // Initially hide all songs
                songList.appendChild(songCard);
              });
              // Show the first set of songs (6 in this case)
              showMoreSongs();
            }
          })
          .catch((error) => {
            console.error("Error fetching songs:", error);
            document.getElementById("song-list").innerHTML =
              "<p class='text-center'>Error loading songs.</p>";
          });
      });

      let currentSongIndex = 0; // Track the current index of the song being shown
      const songsPerPage = 6; // Number of songs to show per click

      function showMoreSongs() {
        const songCards = document.querySelectorAll(".song-card");
        let newSongsShown = 0;

        for (
          let i = currentSongIndex;
          i < currentSongIndex + songsPerPage && i < songCards.length;
          i++
        ) {
          songCards[i].style.display = "block"; // Show the song
          newSongsShown++;
        }

        currentSongIndex += newSongsShown;

        if (currentSongIndex >= songCards.length) {
          document.getElementById("show-more-btn").style.display = "none"; // Hide Show More button if all songs are shown
        }
        if (currentSongIndex > songsPerPage) {
          document.getElementById("show-less-btn").style.display =
            "inline-block"; // Show Show Less button if more than initial songs are shown
        }
      }

      function showLessSongs() {
        const songCards = document.querySelectorAll(".song-card");

        // Ensure that we always show at least 6 songs
        const minSongsToShow = Math.max(currentSongIndex - songsPerPage, 6);

        for (let i = minSongsToShow; i < currentSongIndex; i++) {
          songCards[i].style.display = "none"; // Hide the song
        }

        currentSongIndex = minSongsToShow;

        // Show less button only if more than 6 songs are currently visible
        if (currentSongIndex <= 6) {
          document.getElementById("show-less-btn").style.display = "none"; // Hide Show Less button if only 6 songs are shown
        }
        document.getElementById("show-more-btn").style.display = "inline-block"; // Show Show More button
      }

      function playSong(path, title) {
        const audioPlayerContainer = document.getElementById("audio-player");
        const audioPlayer = document.getElementById("fixed-audio-player");
        const nowPlayingTitle = document.getElementById("now-playing-title");

        // Set the audio source, update the title, and show the player
        audioPlayer.src = `/static/${path}`;
        nowPlayingTitle.textContent = `Now Playing: ${title}`;
        audioPlayerContainer.style.display = "flex"; // Show the audio player
        audioPlayer.play();
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
